@model EnvironmentalPageModel

<table border='1' cellspacing='0' cellpadding='0'>
    <thead>
        <tr>
            <th>时间</th>
            <th>@((int)Model.MachineSet)A投入小时</th>
            <th>@((int)Model.MachineSet)B投入小时</th>
            <th>A侧液氨量（DCS统计）</th>
            <th>B侧液氨量（DCS统计）</th>
            <th>@((int)Model.MachineSet)A脱硝率</th>
            <th>@((int)Model.MachineSet)B脱硝率</th>
            <th>#@((int)Model.MachineSet)机综合脱硝率</th>
            <th>@((int)Model.MachineSet)A投入率</th>
            <th>@((int)Model.MachineSet)B投入率</th>
            <th>#@((int)Model.MachineSet)机NOx排放</th>
            <th>#@((int)Model.MachineSet)机NOx排放max</th>
            <th>#@((int)Model.MachineSet)机NOx排放min</th>
            <th>#@((int)Model.MachineSet)机SO2排放</th>
            <th>#@((int)Model.MachineSet)机SO2排放max</th>
            <th>#@((int)Model.MachineSet)机SO2排放min</th>
            <th>#@((int)Model.MachineSet)机粉尘排放</th>
            <th>#@((int)Model.MachineSet)机粉尘排放max</th>
            <th>#@((int)Model.MachineSet)机粉尘排放min</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@(item.Day)日</td>
                <td>@item.Col_1A投入小时</td>
                <td>@item.Col_1B投入小时</td>
                <td>@item.Col_A侧液氨量</td>
                <td>@item.Col_B侧液氨量</td>
                <td>@item.Col_1A脱硝率</td>
                <td>@item.Col_1B脱硝率</td>
                <td>@item.Col_1机综合脱硝率</td>
                <td>@item.Col_1A投入率</td>
                <td>@item.Col_1B投入率</td>
                <td>@item.Col_1机NOx排放</td>
                <td>@item.Col_1机NOx排放max</td>
                <td>@item.Col_1机NOx排放min</td>
                <td>@item.Col_1机SO2排放</td>
                <td>@item.Col_1机SO2排放max</td>
                <td>@item.Col_1机SO2排放min</td>
                <td>@item.Col_1机粉尘排放</td>
                <td>@item.Col_1机粉尘排放max</td>
                <td>@item.Col_1机粉尘排放min</td>
            </tr>
        }
        <tr>
            @{
                var days = DateTime.DaysInMonth(Model.Year, Model.Month);
            }
            <td>月平均</td>
            <td>@(((Model.Items.Sum(i => i.Col_1A投入小时) ?? 0) / days).ToString("0.00"))</td>
            <td>@(((Model.Items.Sum(i => i.Col_1B投入小时) ?? 0) / days).ToString("0.00"))</td>
            <td>@(((Model.Items.Sum(i => i.Col_A侧液氨量) ?? 0) / days).ToString("0.00"))</td>
            <td>@(((Model.Items.Sum(i => i.Col_B侧液氨量) ?? 0) / days).ToString("0.00"))</td>
            <td>@(((Model.Items.Sum(i => i.Col_1A脱硝率) ?? 0) / days).ToString("0.00"))</td>
            <td>@(((Model.Items.Sum(i => i.Col_1B脱硝率) ?? 0) / days).ToString("0.00"))</td>
            <td>@(((Model.Items.Sum(i => i.Col_1机综合脱硝率) ?? 0) / days).ToString("0.00"))</td>
            <td>@(((Model.Items.Sum(i => i.Col_1A投入率) ?? 0) / days).ToString("0.00"))</td>
            <td>@(((Model.Items.Sum(i => i.Col_1B投入率) ?? 0) / days).ToString("0.00"))</td>
            <td>@(((Model.Items.Sum(i => i.Col_1机NOx排放) ?? 0) / days).ToString("0.00"))</td>
            <td>@(((Model.Items.Sum(i => i.Col_1机NOx排放max) ?? 0) / days).ToString("0.00"))</td>
            <td>@(((Model.Items.Sum(i => i.Col_1机NOx排放min) ?? 0) / days).ToString("0.00"))</td>
            <td>@(((Model.Items.Sum(i => i.Col_1机SO2排放) ?? 0) / days).ToString("0.00"))</td>
            <td>@(((Model.Items.Sum(i => i.Col_1机SO2排放max) ?? 0) / days).ToString("0.00"))</td>
            <td>@(((Model.Items.Sum(i => i.Col_1机SO2排放min) ?? 0) / days).ToString("0.00"))</td>
            <td>@(((Model.Items.Sum(i => i.Col_1机粉尘排放) ?? 0) / days).ToString("0.00"))</td>
            <td>@(((Model.Items.Sum(i => i.Col_1机粉尘排放max) ?? 0) / days).ToString("0.00"))</td>
            <td>@(((Model.Items.Sum(i => i.Col_1机粉尘排放min) ?? 0) / days).ToString("0.00"))</td>
        </tr>
    </tbody>
</table>

