@model EconomicPageModel
@{
    ViewBag.Title = "经济指标报表";
}
@section styles{
    <style>
        .search-result-table table th {
            width: 100px;
            background-image: url("");
        }

        .search-result-table table tr td:first-child {
            background-color: #efefef;
        }
    </style>
}

<div class="search-criteria" style="padding: 20px 0; border-bottom: 1px dotted #e2e2e2">
    <form class="form-inline" role="form" action="/Report/EconomicIndex">
        <div class="form-group">
            <label class="control-label">时间</label>
            <div class="input-group date">
                <input type="text" name="Date" class="form-control input-sm datetime" value="@string.Format("{0}-{1}", Model.Year, Model.Month)" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" role="search" name="search" class="btn btn-primary btn-sm">查询</button>
            <button type="submit" role="recalc" name="recalc" class="btn btn-primary btn-sm">重新计算</button>
            <a class="btn btn-primary btn-sm" url="/report/exportexcel4Economic" href="/report/exportexcel4Economic" style="width:100px" onclick="javascript: this.href = $(this).attr('url') + '?' + $('form').serialize()">导出</a>
        </div>
    </form>
</div>
<div class="search-result table-responsive" style="margin-top: 10px;">
    <div class="search-result-table">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>项目</th>
                    <th>主给水流量</th>
                    <th>主蒸汽流量</th>
                    <th>省煤器入口压力</th>
                    <th>给水温度</th>
                    <th>送风机出口温度</th>
                    <th>主蒸汽温度</th>
                    <th>主蒸汽压力</th>
                    <th>一级过热减温水流量</th>
                    <th>二级减温水流量</th>
                    <th>过热器减温水压力</th>
                    <th>再热蒸汽温度</th>
                    <th>再热蒸汽压力</th>
                    <th>再热减温水流量</th>
                    <th>再热器减温水温度</th>
                    <th>再热器减温水压力</th>
                    <th>循环水入口温度</th>
                    <th>循环水出口温度</th>
                    <th>循环水温升</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>单位</td>
                    <td>t/h</td>
                    <td>t/h</td>
                    <td>MPa</td>
                    <td>℃</td>
                    <td>℃</td>
                    <td>%</td>
                    <td>MPa</td>
                    <td>t/h</td>
                    <td>t/h</td>
                    <td>℃</td>
                    <td>℃</td>
                    <td>MPa</td>
                    <td>t/h</td>
                    <td>℃</td>
                    <td>MPa</td>
                    <td>℃</td>
                    <td>℃</td>
                    <td>℃</td>
                </tr>
                <tr>
                    <td>#1机组</td>
                    <td>@Model["Fysis.U1DCSAI.C0328"]</td>
                    <td>@Model["Fysis.U1DCSAI.C1344"]</td>
                    <td>@Model["Fysis.U1DCSAI.A2053"]</td>
                    <td>@Model["Fysis.CALC.A1001"]</td>
                    <td>@Model["Fysis.CALC.A1002"]</td>
                    <td>@Model["Fysis.CALC.A1003"]</td>
                    <td>@Model["Fysis.CALC.A1004"]</td>
                    <td>@Model["Fysis.CALC.A1005"]</td>
                    <td>@Model["Fysis.CALC.A1006"]</td>
                    <td>@Model["Fysis.U1DCSAI.A0353"]</td>
                    <td>@Model["Fysis.CALC.A1007"]</td>
                    <td>@Model["Fysis.CALC.A1008"]</td>
                    <td>@Model["Fysis.CALC.A1009"]</td>
                    <td>@Model["Fysis.U1DCSAI.A0072"]</td>
                    <td>@Model["Fysis.U1DCSAI.A0349"]</td>
                    <td>@Model["Fysis.CALC.A1010"]</td>
                    <td>@Model["Fysis.CALC.A1011"]</td>
                    <td>@(Model["Fysis.CALC.A1011"] - Model["Fysis.CALC.A1010"])</td>
                </tr>
                <tr>
                    <td>#2机组</td>
                    <td>@Model["Fysis.U2DCSAI.C0328"]</td>
                    <td>@Model["Fysis.U2DCSAI.C1344"]</td>
                    <td>@Model["Fysis.U2DCSAI.A2053"]</td>
                    <td>@Model["Fysis.CALC.A2001"]</td>
                    <td>@Model["Fysis.CALC.A2002"]</td>
                    <td>@Model["Fysis.CALC.A2003"]</td>
                    <td>@Model["Fysis.CALC.A2004"]</td>
                    <td>@Model["Fysis.CALC.A2005"]</td>
                    <td>@Model["Fysis.CALC.A2006"]</td>
                    <td>@Model["Fysis.U2DCSAI.A0353"]</td>
                    <td>@Model["Fysis.CALC.A2007"]</td>
                    <td>@Model["Fysis.CALC.A2008"]</td>
                    <td>@Model["Fysis.CALC.A2009"]</td>
                    <td>@Model["Fysis.U2DCSAI.A0072"]</td>
                    <td>@Model["Fysis.U2DCSAI.A0349"]</td>
                    <td>@Model["Fysis.CALC.A2010"]</td>
                    <td>@Model["Fysis.CALC.A2011"]</td>
                    <td>@(Model["Fysis.CALC.A2011"] - Model["Fysis.CALC.A2010"])</td>
                </tr>
            </tbody>

            <thead>
                <tr>
                    <th>项目</th>
                    <th>真空</th>
                    <th>A侧排汽温度</th>
                    <th>B侧排汽温度</th>
                    <th>凝汽器端差</th>
                    <th>氧量</th>
                    <th>#1高加入口水温</th>
                    <th>#1高加出口水温</th>
                    <th>#2高加入口水温</th>
                    <th>#2高加出口水温</th>
                    <th>#3高加入口水温</th>
                    <th>#3高加出口水温</th>
                    <th>#1高加抽汽压力</th>
                    <th>#2高加抽汽压力</th>
                    <th>#3高加抽汽压力</th>
                    <th>#1高加抽汽温度</th>
                    <th>#2高加抽汽温度</th>
                    <th>#3高加抽汽温度</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>单位</td>
                    <td>Pa</td>
                    <td>℃</td>
                    <td>℃</td>
                    <td>℃</td>
                    <td>%</td>
                    <td>℃</td>
                    <td>℃</td>
                    <td>℃</td>
                    <td>℃</td>
                    <td>℃</td>
                    <td>℃</td>
                    <td>%</td>
                    <td>MPa</td>
                    <td>MPa</td>
                    <td>℃</td>
                    <td>℃</td>
                    <td>℃</td>
                </tr>
                <tr>
                    <td>#1机组</td>
                    <td>@Model["Fysis.CALC.A1012"]</td>
                    <td>@Model["FYSIS.CALC.A1017"]</td>
                    <td>@Model["FYSIS.CALC.A1018"]</td>
                    <td>@Model["Fysis.U1DCSAI.G1301"]</td>
                    <td>@Model["Fysis.U1DCSAI.C1329"]</td>
                    <td>@Model["Fysis.U1DCSAI.G1305"]</td>
                    <td>@Model["Fysis.U1DCSAI.A0037 "]</td>
                    <td>@Model["Fysis.U1DCSAI.A0058"]</td>
                    <td>@Model["Fysis.U1DCSAI.A0039"]</td>
                    <td>@Model["Fysis.U1DCSAI.A0073"]</td>
                    <td>@Model["Fysis.U1DCSAI.A0058 "]</td>
                    <td>@Model["Fysis.U1DCSAI.A0324"]</td>
                    <td>@Model["Fysis.U1DCSAI.A0325"]</td>
                    <td>@Model["Fysis.U1DCSAI.A0326"]</td>
                    <td>@Model["Fysis.U1DCSAI.A0027 "]</td>
                    <td>@Model["Fysis.U1DCSAI.A0038"]</td>
                    <td>@Model["Fysis.U1DCSAI.A0004"]</td>
                </tr>
                <tr>
                    <td>#2机组</td>
                    <td>@Model["Fysis.CALC.A2012"]</td>
                    <td>@Model["FYSIS.CALC.A2017"]</td>
                    <td>@Model["FYSIS.CALC.A2018"]</td>
                    <td>@Model["Fysis.U2DCSAI.G1301"]</td>
                    <td>@Model["Fysis.U2DCSAI.C1329"]</td>
                    <td>@Model["Fysis.U2DCSAI.G1305"]</td>
                    <td>@Model["Fysis.U2DCSAI.A0037 "]</td>
                    <td>@Model["Fysis.U2DCSAI.A0058"]</td>
                    <td>@Model["Fysis.U2DCSAI.A0039"]</td>
                    <td>@Model["Fysis.U2DCSAI.A0073"]</td>
                    <td>@Model["Fysis.U2DCSAI.A0058 "]</td>
                    <td>@Model["Fysis.U2DCSAI.A0324"]</td>
                    <td>@Model["Fysis.U2DCSAI.A0325"]</td>
                    <td>@Model["Fysis.U2DCSAI.A0326"]</td>
                    <td>@Model["Fysis.U2DCSAI.A0027 "]</td>
                    <td>@Model["Fysis.U2DCSAI.A0038"]</td>
                    <td>@Model["Fysis.U2DCSAI.A0004"]</td>
                </tr>
            </tbody>

            <thead>
                <tr>
                    <th>项目</th>
                    <th>#1高加疏水温度</th>
                    <th>#2高加疏水温度</th>
                    <th>#3高加疏水温度</th>
                    <th>飞灰含碳量</th>
                    <th>排烟温度</th>
                    <th>SCR入口NOx浓度</th>
                    <th>SCR出口NOx浓度</th>
                    <th>二氧化硫</th>
                    <th>烟尘</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>单位</td>
                    <td>℃</td>
                    <td>℃</td>
                    <td>℃</td>
                    <td>%</td>
                    <td>℃</td>
                    <td>%</td>
                    <td>%</td>
                    <td>%</td>
                    <td>%</td>
                </tr>
                <tr>
                    <td>#1机组</td>
                    <td>@Model["Fysis.U1DCSAI.A0043"]</td>
                    <td>@Model["Fysis.U1DCSAI.A0044 "]</td>
                    <td>@Model["Fysis.U1DCSAI.A0045"]</td>
                    <td>@Model["Fysis.CALC.A1014"]</td>
                    <td>@Model["FYSIS.CALC.A1013"]</td>
                    <td>@Model["Fysis.CALC.A1015"]</td>
                    <td>@Model["Fysis.CALC.A1016 "]</td>
                    <td>@Model["Fysis.TLOPCRTS.TLAIO535"]</td>
                    <td>@Model["Fysis.TLOPCRTS.TLAIO537"]</td>
                </tr>
                <tr>
                    <td>#2机组</td>
                    <td>@Model["Fysis.U2DCSAI.A0043"]</td>
                    <td>@Model["Fysis.U2DCSAI.A0044 "]</td>
                    <td>@Model["Fysis.U2DCSAI.A0045"]</td>
                    <td>@Model["Fysis.CALC.A2014"]</td>
                    <td>@Model["FYSIS.CALC.A2013"]</td>
                    <td>@Model["Fysis.CALC.A2015"]</td>
                    <td>@Model["Fysis.CALC.A2016 "]</td>
                    <td>@Model["Fysis.TLOPCRTS.TLAIO539"]</td>
                    <td>@Model["Fysis.TLOPCRTS.TLAIO540"]</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/views/base/se.ui.view.SearchViewBase.js"></script>
    <script>

        //var viewInstance = new se.ui.view.SearchViewBase(new se.ui.view.SearchViewBase.Settings({
        //    url: ''
        //}));
        //viewInstance.init();


        $(function () {
            $(".date .form-control").datetimepicker({
                format: 'YYYY-MM',

            });
            $("[role=search]").click(function () {

            });
        });
    </script>
}