@model EnvironmentalPageModel
@{
    ViewBag.Title = "经济指标报表";
}
@section styles{
    <style>
        .search-result-table table th {
            width: 100px;
            background-image: url("");
        }

        .search-result-table table tr td:first-child {
            background-color: #efefef;
        }
    </style>
}

<div class="search-criteria" style="padding: 20px 0; border-bottom: 1px dotted #e2e2e2">
    <form class="form-inline" action="/Report/EnvironmentalIndex" role="form">
        <div class="form-group">
            <label class="control-label">开始时间</label>
            <div class="input-group date">
                <input type="text" name="Date" class="form-control input-sm datetime" value="@string.Format("{0}-{1}",Model.Year,Model.Month)" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">机组</label>
            @Html.Raw(new NativeSelect("MachineSet", true, false) { EmptyPair = null, Source = new EnumControlSourceAttribute(typeof(MachineSetType)).GetSource().Where(i => i.Value != ((int)MachineSetType.MachineSet3).ToString()).ToArray(), SelectedValue = ((int)Model.MachineSet).ToString() }.Render())
        </div>
        <div class="form-group">
            <button type="submit" role="search" class="btn btn-primary btn-sm">查询</button>
            <a class="btn btn-primary btn-sm" url="/report/exportexcel4Environmental" href="/report/exportexcel4Environmental" style="width:100px" onclick="javascript: this.href = $(this).attr('url') + '?' + $('form').serialize()">导出</a>
        </div>
    </form>
</div>
<div class="search-result table-responsive" style="margin-top: 10px;">
    <div class="search-result-table">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>时间</th>
                    <th>@((int)Model.MachineSet)A投入小时</th>
                    <th>@((int)Model.MachineSet)B投入小时</th>
                    <th>A侧液氨量（DCS统计）</th>
                    <th>B侧液氨量（DCS统计）</th>
                    <th>@((int)Model.MachineSet)A脱硝率</th>
                    <th>@((int)Model.MachineSet)B脱硝率</th>
                    <th>#1机综合脱硝率</th>
                    <th>@((int)Model.MachineSet)A投入率</th>
                    <th>@((int)Model.MachineSet)B投入率</th>
                    <th>#@((int)Model.MachineSet)机NOx排放</th>
                    <th>#@((int)Model.MachineSet)机SO2排放</th>
                    <th>#@((int)Model.MachineSet)机粉尘排放</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@(item.Day)日</td>
                        <td>@item.Col_1A投入小时</td>
                        <td>@item.Col_1B投入小时</td>
                        <td>@item.Col_A侧液氨量</td>
                        <td>@item.Col_B侧液氨量</td>
                        <td>@item.Col_1A脱硝率</td>
                        <td>@item.Col_1B脱硝率</td>
                        <td>@item.Col_1机综合脱硝率</td>
                        <td>@item.Col_1A投入率</td>
                        <td>@item.Col_1B投入率</td>
                        <td>@item.Col_1机NOx排放</td>
                        <td>@item.Col_1机SO2排放</td>
                        <td>@item.Col_1机粉尘排放</td>
                    </tr>
                }
                <tr>
                    @{
                        var days = DateTime.DaysInMonth(Model.Year, Model.Month);
                    }
                    <td>月平均</td>
                    <td>@(((Model.Items.Sum(i => i.Col_1A投入小时) ?? 0) / days).ToString("0.00"))</td>
                    <td>@(((Model.Items.Sum(i => i.Col_1B投入小时) ?? 0) / days).ToString("0.00"))</td>
                    <td>@(((Model.Items.Sum(i => i.Col_A侧液氨量) ?? 0) / days).ToString("0.00"))</td>
                    <td>@(((Model.Items.Sum(i => i.Col_B侧液氨量) ?? 0) / days).ToString("0.00"))</td>  
                    <td>@(((Model.Items.Sum(i => i.Col_1A脱硝率) ?? 0 )/ days).ToString("0.00"))</td>
                    <td>@(((Model.Items.Sum(i => i.Col_1B脱硝率) ?? 0) / days).ToString("0.00"))</td>
                    <td>@(((Model.Items.Sum(i => i.Col_1机综合脱硝率) ?? 0) / days).ToString("0.00"))</td>
                    <td>@(((Model.Items.Sum(i => i.Col_1A投入率) ?? 0) / days).ToString("0.00"))</td>
                    <td>@(((Model.Items.Sum(i => i.Col_1B投入率) ?? 0) / days).ToString("0.00"))</td>
                    <td>@(((Model.Items.Sum(i => i.Col_1机NOx排放) ?? 0) / days).ToString("0.00"))</td>
                    <td>@(((Model.Items.Sum(i => i.Col_1机SO2排放) ?? 0 )/ days).ToString("0.00"))</td>
                    <td>@(((Model.Items.Sum(i => i.Col_1机粉尘排放) ?? 0) / days).ToString("0.00"))</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/views/base/se.ui.view.SearchViewBase.js"></script>
    <script>
        $(function () {
            $(".date .form-control").datetimepicker({
                format: 'YYYY-MM',
            });
        });
    </script>
}