@model Table1Model
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th></th>
            <th>负荷</th>
            <th>主蒸汽温度</th>
            <th>再热蒸汽温度</th>
            <th>真空kpa</th>
            <th>SCR入口NOx浓度</th>
            <th>SCR出口NOx浓度</th>
            <th>二氧化硫</th>
            <th>综合厂用率</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1#</td>
            <td>@(double.IsNaN(Model.A1) ? "" : Model.A1.ToString("0.00"))</td>
            <td>@(double.IsNaN(Model.B1) ? "" : Model.B1.ToString("0.00"))</td>
            <td>@(double.IsNaN(Model.C1) ? "" : Model.C1.ToString("0.00"))</td>
            <td>@(double.IsNaN(Model.D1) ? "" : Model.D1.ToString("0.00"))</td>
            <td>@(double.IsNaN(Model.E1) ? "" : Model.E1.ToString("0.00"))</td>
            <td>@(double.IsNaN(Model.F1) ? "" : Model.F1.ToString("0.00"))</td>
            <td>@(double.IsNaN(Model.G1) ? "" : Model.G1.ToString("0.00"))</td>
            <td>@(double.IsNaN(Model.H1) ? "" : Model.H1.ToString("0.00"))</td>
        </tr>
        <tr>
            <td>2#</td>
            <td>@(double.IsNaN(Model.A2) ? "" : Model.A2.ToString("0.00"))</td>
            <td>@(double.IsNaN(Model.B2) ? "" : Model.B2.ToString("0.00"))</td>
            <td>@(double.IsNaN(Model.C2) ? "" : Model.C2.ToString("0.00"))</td>
            <td>@(double.IsNaN(Model.D2) ? "" : Model.D2.ToString("0.00"))</td>
            <td>@(double.IsNaN(Model.E2) ? "" : Model.E2.ToString("0.00"))</td>
            <td>@(double.IsNaN(Model.F2) ? "" : Model.F2.ToString("0.00"))</td>
            <td>@(double.IsNaN(Model.G2) ? "" : Model.G2.ToString("0.00"))</td>
        </tr>
    </tbody>
</table>