@model IModalModel<Object>
<div class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">@Model.Title</label>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-md-2">机组</label>
                        <div class="col-md-5">
                            @Html.Raw(new NativeSelect("MachineSet", true, false, new EnumControlSourceAttribute(typeof(MachineSetType)).GetSource()).Render())
                        </div>
                    </div>

                    @{
                        var beanType = Model.GetType().GenericTypeArguments[0];
                        var props = beanType.GetProperties();
                        foreach (var prop in props)
                        {
                            var control = prop.GetControl();
                        <div class="form-group" @(control.IsRequired ? "validate-rule='required'" : string.Empty) @(control.IsVisible ? string.Empty : "style=display:none") >
                            <label class="control-label col-md-2">@prop.GetDisplayName()</label>
                            <div class="col-md-5">
                                @Html.Raw(control.Render())
                            </div>
                        </div>                            
                        }
                    }
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button class="btn btn-primary" type="button" command-name="save" request-url="@beanType.GetRequestUrl()">保存</button>
            </div>
        </div>
    </div>
</div>
