@model PagedModel<PersonAccountModel>
<div class="search-result-table">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>序号</th>
                <th>用户名</th>
                <th>所属部门</th>
                <th>登录名</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @{
                var startNo = Model.PagingResult.PageIndex * Model.PagingResult.PageSize + 1;
                bool canEdit = UserContext.Current.HasAuthority(AuthorityNames.AccountUpdate);
                bool canDelete = UserContext.Current.HasAuthority(AuthorityNames.AccountDelete);
                bool canAuthSet = UserContext.Current.HasAuthority(AuthorityNames.AccountAuthSet);
                bool canModify = UserContext.Current.HasAuthority(AuthorityNames.AccountModifyPassword);
                for (int i = 0; i < Model.Items.Count; i++)
                {
                    var item = Model.Items[i];
                <tr model-field-entry="PersonId:@item.PersonId,AccountId:@item.AccountId">
                    <td class="text-center w50">@(startNo + i)</td>
                    <td model-field="Name">@item.Name</td>
                    <td model-field="Department">@item.Department</td>
                    <td model-field="LoginName">@item.LoginName</td>
                    <td class="text-center">
                        @if (canAuthSet)
                        {
                            <a href="javascript:;" command-name="setAuthority">设置权限</a>
                        }
                        @if (canModify)
                        {
                            <a href="javascript:;" command-name="changePassword">修改密码</a>
                        }
                        @if (canEdit)
                        {
                            <a href="javascript:;" command-name="editAccount">编辑</a>
                        }
                        @if (canDelete)
                        {
                            <a href="javascript:;" command-name="deleteAccount">删除</a>
                        }
                        
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="search-result-pagination">
    @Html.Partial("_Pager", Model.PagingResult)
</div>
