@model Website.Controllers.AccountListPageModel
@{
    ViewBag.Title = Model.Title;
}

<h2>List</h2>

<div class="search-action" style="margin-top: 30px;">
    <button class="btn btn-default" command-name="add" command-url="@Model.AddItemUrl">新增</button>
</div>

<div class="search-result table-responsive" style="margin-top: 10px;">
</div>

<div class="module-add">
    @Html.Partial("_Modal", new ModalModel<AccountAddModel> { Title = "新增账号" })
</div>

<div class="module-update">
    @Html.Partial("_Modal", new ModalModel<AccountUpdateModel> { Title = "编辑账号" })
</div>

<div class="module-auth">
    @Html.Partial("_AuthSet", true)
</div>
@section scripts{
    <script src="~/Scripts/views/base/se.ui.view.SearchViewBase.js"></script>
    <script>
        var viewInstance = new se.ui.view.SearchViewBase(new se.ui.view.SearchViewBase.Settings({
            url: '@Model.RequestListUrl',
            modules: {
                add: new se.ui.module.Dialog($(".module-add .modal")),
                update: new se.ui.module.Dialog($(".module-update .modal")),
                auth: new se.ui.module.Dialog($(".module-auth .modal"))
            },
            rowCommands: {
                setAuthority: function (model) {
                    viewInstance.modules.auth.dialog.show();
                    //viewInstance.modules.editAuth.activate();
                    //viewInstance.modules.editAuth.bindModel(model);
                    //var url = "/Account/GetAuthorities";
                    //webExpress.utility.ajax.request(url, { accountId: model.AccountId }, function (result) {
                    //    for (var i = 0; i < result.length; i++) {
                    //        console.log(result[i]);
                    //        //$(":checkbox[value=" + result[i] + "]").prop("checked", true);
                    //    }
                    //});
                },
                update: function (model) {
                    viewInstance.modules.update.dialog.show();
                    viewInstance.modules.update.bindModel(model);
                },
                remove: function (model) {
                    var container = $(this).closest(".table");
                    se.helper.ajax.request({
                        confirmMessage: "您确定删除 " + model.Name + " 吗？",
                        container: container,
                        url: "/Account/Delete",
                        model: { Id: model.AccountId },
                        onSuccess: function () {
                            viewInstance.refresh();
                        }
                    });
                }
            },
            viewCommands: {
                add: function () {
                    viewInstance.modules.add.dialog.show();
                    viewInstance.modules.add.bindModel({});
                }
            }
        }));
        viewInstance.init();
        viewInstance.modules.add.on("saved", function () { viewInstance.refresh(); });
        viewInstance.modules.update.on("saved", function () { viewInstance.refresh(); });
    </script>
}