@model UltraRecordListPageModel
@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

<div class="search-criteria" style="padding: 20px 0; border-bottom: 1px dotted #e2e2e2">
    <form class="form-inline" role="form">
        <div class="form-group">
            <label class="control-label">设备名称</label>
            <input type="text" name="EquipmentNamePart" class="form-control input-sm" />
        </div>
        <div class="form-group">
            <label class="control-label">值别</label>
            <input type="text" name="Duty" class="form-control input-sm" />
        </div>
        <div class="form-group">
            <label class="control-label">机组</label>
            <select name="MachineSet" class="form-control input-sm" >
                <option value="">全部</option>
                <option value="@((int)MachineSetType.MachineSet1)">@MachineSetType.MachineSet1.GetDisplayText()</option>
                <option value="@((int)MachineSetType.MachineSet2)">@MachineSetType.MachineSet2.GetDisplayText()</option>
            </select>
        </div>
        <div class="form-group">
            <button type="button" role="search" class="btn btn-primary btn-sm">查询</button>
        </div>
    </form>
</div>

<div class="search-result table-responsive" style="margin-top: 10px;">
</div>

@section scripts{
    <script src="~/Scripts/views/base/se.ui.view.SearchViewBase.js"></script>
    <script>
        var viewInstance = new se.ui.view.SearchViewBase(new se.ui.view.SearchViewBase.Settings({
            url: '@Model.RequestListUrl',
            modules: {
                add: new se.ui.module.Dialog(new se.ui.module.Dialog.Settings({ container: $(".module-add .modal") })),
                update: new se.ui.module.Dialog(new se.ui.module.Dialog.Settings({ container: $(".module-update .modal") }))
            },
            rowCommands: {
                update: function (model) {
                    viewInstance.modules.update.dialog.show();
                    viewInstance.modules.update.bindModel(model);
                },
                remove: function (model) {
                    var container = $(this).closest(".table");
                    se.helper.ajax.request({
                        confirmMessage: "您确定删除 " + model.Name + " 吗？",
                        container: container,
                        url: "/Sms/RecipientDelete",
                        model: { Id: model.Id },
                        onSuccess: function () {
                            viewInstance.refresh();
                        }
                    });
                }
            },
            viewCommands: {
                add: function () {
                    viewInstance.modules.add.dialog.show();
                    viewInstance.modules.add.bindModel({});
                }
            }
        }));
        viewInstance.init();
        viewInstance.modules.add.on("saved", function () { viewInstance.refresh(); });
        viewInstance.modules.update.on("saved", function () { viewInstance.refresh(); });
    </script>
}