@model ProUltraRecordListPageModel
@{
    ViewBag.Title = Model.Title;
}

<div class="search-criteria" style="padding: 20px 0; border-bottom: 1px dotted #e2e2e2">
    <form class="form-inline" role="form">
        <div class="form-group">
            <label class="control-label">开始时间</label>
            <input type="text" control-type="NativeInputDate" name="EquipmentNamePart1" class="form-control input-sm" />
        </div>
        <div class="form-group">
            <label class="control-label">结束时间</label>
            <input type="text" name="EquipmentNamePart2" class="form-control input-sm" />
        </div>
        <div class="form-group">
            <label class="control-label">设备名称</label>
            <input type="text" name="EquipmentNamePart" class="form-control input-sm" />
        </div>
        <div class="form-group">
            <label class="control-label">值别</label>
            <input type="text" name="Duty" class="form-control input-sm" />
        </div>
        <div class="form-group">
            <label class="control-label">机组</label>
            <select name="MachineSet" class="form-control input-sm">
                <option value="">全部</option>
                <option value="@((int)MachineSetType.MachineSet1)">@MachineSetType.MachineSet1.GetDisplayText()</option>
                <option value="@((int)MachineSetType.MachineSet2)">@MachineSetType.MachineSet2.GetDisplayText()</option>
            </select>
        </div>
        <div class="form-group">
            <button type="button" role="search" class="btn btn-primary btn-sm">查询</button>
        </div>
    </form>
</div>

<div class="search-result table-responsive" style="margin-top: 10px;">
</div>

<div class="module-fill">
    @Html.Partial("_Modal", new ModalModel<UltroReasonModel> { Title = "新增监控类别" })
</div>
@section scripts{
    <script src="~/Scripts/views/base/se.ui.view.SearchViewBase.js"></script>
    <script>
        var viewInstance = new se.ui.view.SearchViewBase(new se.ui.view.SearchViewBase.Settings({
            url: '@Model.RequestListUrl',
            modules: {
                fill: new se.ui.module.Dialog(new se.ui.module.Dialog.Settings({ container: $(".module-fill .modal") })),
            },
            rowCommands: {
                fill: function (model) {
                    viewInstance.modules.fill.dialog.show();
                    viewInstance.modules.fill.bindModel(model);
                }
            }
        }));
        viewInstance.init();
        viewInstance.modules.fill.on("saved", function () { viewInstance.refresh(); });
    </script>
}