@using System.Linq
@using WebExpress.Website
@model ProUltraRecordListPageModel
@{
    ViewBag.Title = Model.Title;
}
<div class="search-criteria" style="padding: 20px 0; border-bottom: 1px dotted #e2e2e2">
    <form class="form-inline" role="form">
        <div class="form-group">
            <label class="control-label">开始时间</label>
            <div class="input-group date">
                <input type="text" name="StartTime" class="form-control input-sm datetime" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">结束时间</label>
            <div class="input-group date">
                <input type="text" name="EndTime" class="form-control input-sm datetime" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">机组</label>
            <select name="MachineSet" class="form-control input-sm">
                <option value="">全部</option>
                @Html.Raw(Html.Option(MachineSetType.MachineSet1))
                @Html.Raw(Html.Option(MachineSetType.MachineSet2))
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">设备名称</label>
            <select name="EquipmentId" class="form-control input-sm">
                <option value=''>全部</option>
            </select>
        </div> 
        <div class="form-group">
            <label class="control-label">专业</label>
            <select name="MajorId" class="form-control input-sm">
                <option value="">全部</option>
                @foreach (var item in Model.Majors)
                {
                    @Html.Raw(Html.Option(item))
                }
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">值别</label>
            <select name="Duty" class="form-control input-sm">
                <option value="">全部</option>
                @Html.Raw(Html.Option(DutyType.Duty1))
                @Html.Raw(Html.Option(DutyType.Duty2))
                @Html.Raw(Html.Option(DutyType.Duty3))
                @Html.Raw(Html.Option(DutyType.Duty4))
                @Html.Raw(Html.Option(DutyType.Duty5))
            </select>
        </div>
        <div class="form-group">
            <button type="button" role="search" class="btn btn-primary btn-sm">查询</button>
        </div>
    </form>
</div>
<div class="search-result table-responsive" style="margin-top: 10px;">
</div>

<div class="module-fill">
    @Html.Partial("_Modal", new ModalModel<UltroReasonModel> { Title = "新增监控类别" })
</div>
@section scripts{
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/views/base/se.ui.view.SearchViewBase.js"></script>
    <script>
        var viewInstance = new se.ui.view.SearchViewBase(new se.ui.view.SearchViewBase.Settings({
            url: '@Model.RequestListUrl',
            modules: {
                fill: new se.ui.module.Dialog(new se.ui.module.Dialog.Settings({ container: $(".module-fill .modal") })),
            },
            rowCommands: {
                fill: function (model) {
                    viewInstance.modules.fill.dialog.show();
                    viewInstance.modules.fill.bindModel(model);
                }
            }
        }));
        viewInstance.init();
        viewInstance.modules.fill.on("saved", function () { viewInstance.refresh(); });

        $(function () {
            $(".date .form-control").datetimepicker({
                format: 'YYYY-MM-DD HH:mm'
            });

            $(".search-criteria [name=MachineSet]").cascade({
                target: ".search-criteria [name=EquipmentId]",
                url: "/Equipment/Get"
            });
        });
    </script>
}