@using WebExpress.Website
@model UltraSummaryListPageModel
@{
    ViewBag.Title = Model.Title;
}
<div class="search-criteria" style="padding: 20px 0; border-bottom: 1px dotted #e2e2e2">
    <form class="form-inline" role="form">
        <div class="form-group">
            <label class="control-label">开始时间</label>
            <input type="text" control-type="NativeInputDate" name="EquipmentNamePart1" class="form-control input-sm" />
        </div>
        <div class="form-group">
            <label class="control-label">结束时间</label>
            <input type="text" name="EquipmentNamePart2" class="form-control input-sm" />
        </div>
        <div class="form-group">
            <label class="control-label">设备名称</label>
            <input type="text" name="EquipmentNamePart" class="form-control input-sm" />
        </div>
        <div class="form-group">
            <label class="control-label">监控类别</label>
            <select name="MonitorTypeId" class="form-control input-sm">
                <option value="">全部</option>
                @foreach (var item in Model.MonitorTypes)
                {
                    @Html.Raw(Html.Option(item))
                }
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">值别</label>
            <select name="Duty" class="form-control input-sm">
                <option value="">全部</option>
                @Html.Raw(Html.Option(DutyType.Duty1))
                @Html.Raw(Html.Option(DutyType.Duty2))
                @Html.Raw(Html.Option(DutyType.Duty3))
                @Html.Raw(Html.Option(DutyType.Duty4))
                @Html.Raw(Html.Option(DutyType.Duty5))
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">机组</label>
            <select name="MachineSet" class="form-control input-sm">
                <option value="">全部</option>
                @Html.Raw(Html.Option(MachineSetType.MachineSet1))
                @Html.Raw(Html.Option(MachineSetType.MachineSet2))
            </select>
        </div>
        <div class="form-group">
            <button type="button" role="search" class="btn btn-primary btn-sm">查询</button>
        </div>
    </form>
</div>

<div class="search-result table-responsive" style="margin-top: 10px;">
</div>

<div class="module-detail">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <label class="modal-title">明细</label>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/views/base/se.ui.view.SearchViewBase.js"></script>
    <script>
        var viewInstance = new se.ui.view.SearchViewBase(new se.ui.view.SearchViewBase.Settings({
            url: '@Model.RequestListUrl',
            rowCommands: {
                detail: function (model) {
                    var criteria = $(".search-criteria form").serializeObject();
                    var url = webExpress.utility.string.format("/UltraRecord/List?SearchProRecord=false&partId={0}&duty={1}&startTime={2}&endTime={3}", model.PartId, model.Duty, criteria.StartTime, criteria.EndTime);
                    $.get(url, "", function (data) {
                        var title = webExpress.utility.string.format("<b>设备：</b>{0} <b>部件：</b>{1} 超限记录详情", model.EquipmentName, model.PartName);
                        $(".module-detail .modal-title").html(title);
                        $(".module-detail .modal-body").html(data);
                        $(".module-detail .modal").modal("show");
                    });
                }
            }
        }));
        viewInstance.init();
    </script>
}