@using WebExpress.Website
@model UltraSummaryListPageModel
@{
    ViewBag.Title = Model.Title;
}
@section styles{
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
}
<div class="search-criteria" style="padding: 20px 0; border-bottom: 1px dotted #e2e2e2">
    <form class="form-inline" role="form">
        <div class="form-group">
            <label class="control-label">开始时间</label>
            <div class="input-group date">
                <input type="text" name="StartTime" class="form-control input-sm datetime" value="@DateTime.Now.Date.AddDays(-1).ToString("yyyy-MM-dd HH:mm")" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">结束时间</label>
            <div class="input-group date">
                <input type="text" name="EndTime" class="form-control input-sm datetime" value="@(DateTime.Now.ToString("yyyy-MM-dd") + " 23:59")" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">机组</label>
            @Html.Raw(new NativeSelect("MachineSet", true, false) { Source = new EnumControlSourceAttribute(typeof(MachineSetType)).GetSource(), SelectedValue = "", EmptyPair = new NameValuePair { Name = "全部" } }.Render())
        </div>
        @*<div class="form-group">
                <label class="control-label">设备名称</label>
                <select name="EquipmentId" class="form-control input-sm">
                    <option value=''>全部</option>
                </select>
            </div>*@
        <div class="form-group">
            <label class="control-label">设备名称</label>
            <input type="text" name="EquipmentName" class="form-control input-sm" />
        </div>
        <div class="form-group">
            <label class="control-label">测点名称</label>
            <input type="text" name="PointName" class="form-control input-sm" />
        </div>
        <div class="form-group">
            <label class="control-label">监控类别</label>
            <select name="MonitorTypeId" class="form-control input-sm">
                <option value="">全部</option>
                @foreach (var item in Model.MonitorTypes)
                {
                    @Html.Raw(Html.Option(item))
                }
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">值别</label>
            @Html.Raw(new NativeSelect("Duty", true, false) { Source = new EnumControlSourceAttribute(typeof(DutyType)).GetSource(), SelectedValue = "", EmptyPair = new NameValuePair { Name = "全部" } }.Render())
        </div>
        <div class="form-group">
            <label class="control-label">专业</label>
            @Html.Raw(new NativeSelect("MajorId", true, false) { Source = Model.Majors, SelectedValue = "", EmptyPair = new NameValuePair { Name = "全部" } }.Render())
        </div>
        <div class="form-group">
            <label class="control-label">姓名</label>
            <input type="text" name="UserName" class="form-control input-sm " />
        </div>
        <div class="form-group">
            <button type="button" role="search" class="btn btn-primary btn-sm">查询</button>
            <a class="btn btn-primary btn-sm" url="/UltraRecord/ExportExcelSummary" href="/UltraRecord/ExportExcelSummary" style="width:100px" onclick="javascript: this.href = $(this).attr('url') + '?' + $('form').serialize()">导出</a>
        </div>
    </form>
</div>

<div class="search-result table-responsive" style="margin-top: 10px;">
</div>

<div class="module-detail">
    <div class="modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <label class="modal-title">明细</label>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <a class="btn btn-primary btn-sm export" url="/UltraRecord/ExportExcelList" href="/UltraRecord/ExportExcelList" style="width:100px">导出</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/views/base/se.ui.view.SearchViewBase.js"></script>
    <script>

        var viewInstance = new se.ui.view.SearchViewBase(new se.ui.view.SearchViewBase.Settings({
            url: '@Model.RequestListUrl',
            rowCommands: {
                detail: function (model) {
                    subView.criteria.PartId = model.PartId;
                    subView.criteria.Duty = model.Duty;
                    subView.search();
                    var title = webExpress.utility.string.format("<b>设备：</b>{0} <b>部件：</b>{1} 超限记录详情", model.EquipmentName || "", model.PartName || "");
                    $(".module-detail .modal-title").html(title);
                    $(".module-detail .modal").modal("show");
                    $(".module-detail a.export").attr("href", $(".module-detail a.export").attr("url") + "?" + $.param(subView.criteria));
                }
            }
        }));
        viewInstance.init();

        var subView = new se.ui.view.SearchViewBase(new se.ui.view.SearchViewBase.Settings({
            container: $(".module-detail"),
            url: "/UltraRecord/List",
            searchResultContainer: $(".module-detail .modal-body"),
            getCriteriaModel: function () {
                var criteria = $(".search-criteria form").serializeObject();
                criteria.SearchProRecord = false;
                delete criteria.Duty;
                return criteria;
            }
        }));

        subView.init();

        $(function () {
            $(".date .form-control").datetimepicker({
                format: 'YYYY-MM-DD HH:mm'
            });

            $(".search-criteria [name=MachineSet]").cascade({
                target: ".search-criteria [name=EquipmentId]",
                url: "/Equipment/Get"
            });
        });
    </script>
}