@model IModalModel<Object>
<div class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">@Model.Title</label>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    @{
                        var beanType = Model.GetType().GenericTypeArguments[0];
                        var props = beanType.GetProperties();
                        var className = props.Max(i => i.Name.Length) > 5 ? "col-md-3" : "col-md-2";
                        foreach (var prop in props)
                        {
                            var control = prop.GetControl();
                            <div class="form-group" property-name="@control.Name" @(control.IsRequired ? "validate-rule=required:true" : string.Empty) @(control.IsVisible ? string.Empty : "style=display:none")>
                                <label class="control-label @className">@prop.GetDisplayName()</label>
                                <div class="col-md-5">
                                    @Html.Raw(control.Render())
                                </div>
                            </div>
                        }
                    }
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button class="btn btn-primary" type="button" command-name="save" request-url="@beanType.GetRequestUrl()">保存</button>
            </div>
        </div>
    </div>
</div>
