@model IModalModel<Object>
<div class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">@Model.Title</label>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    @{
                        var beanType = Model.GetType().GenericTypeArguments[0];
                        var props = beanType.GetProperties();
                        var gridCount = props.Max(i => i.Name.Length) > 5 ? 3 : 2;
                        foreach (var prop in props)
                        {
                            var control = prop.GetControl();
                            
                        <div class="form-group" property-name="@control.Name" @(string.IsNullOrEmpty(control.ValidationRules) ? string.Empty : string.Format("validate-rule={0}", control.ValidationRules)) @(control.IsVisible ? string.Empty : "style=display:none")>
                            <label class="control-label col-md-@gridCount">@prop.GetDisplayName()</label>
                            <div class="col-md-5">
                                @Html.Raw(control.Render())
                            </div>
                            @if (!string.IsNullOrEmpty(control.HelpText))
                            {
                                <div style="clear:both;padding-left:15px;" class="col-md-offset-@gridCount">
                                    <p class="help-block">@control.HelpText</p>
                                </div>
                            }
                            <div style="clear:both;padding-left:15px;" class="col-md-offset-@gridCount">
                                <div class="validate-info"></div>
                            </div>
                        </div>
                        }
                    }
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button class="btn btn-primary" type="button" command-name="save" request-url="@beanType.GetRequestUrl()">保存</button>
            </div>
        </div>
    </div>
</div>
